.App {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
}

.TasksList {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 35px;
  overflow-y: auto;
  height: 100%;
  pointer-events: none;
}

.TasksList-Task {
  width: 350px;
  margin-top: 10px;
  padding: 14px 23px 14px 20px;
  pointer-events: auto;
}

.TasksList-NewTask-button {
  height: 50px;
  padding: 0;
  pointer-events: auto;
}

.TasksList-NewTask-content {
  margin: 0;
  padding: 20px 0 12px 0;
}

.TasksList-Task-date {
  font-family: Roboto, sans-serif;
  color: #909090  ;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
}

.TasksList-Task-description {
  margin: 10px 0;
}

.TasksList-Task-actions-buttons {
  margin-top: 10px;
}


.TaskCreator {
  width: 500px;
  height: 100%;
}

.TaskCreator-inner {
  height: 100%;
  overflow-y: auto;
}

.TaskCreator-header {
  background-color: #f1f1f1;
  padding: 25px 30px 25px 40px;
}

.TaskCreator-Header-Address {
  margin-top: 15px;
  max-height: 38px;
  overflow-y: auto;
}

.TaskCreator-button {
  margin-top: 25px;
}


.TasksList-Task-content {
  cursor: default;
}


.TaskCreator-Content {
  height: auto;
  padding-top: 5px;
}

.TaskCreator-SectionsInnerBlock {
  padding: 25px 5px 25px 40px;
}

.TaskCreator-SectionTitleBlock {
  margin-bottom: 15px;
}

.TaskCreator-SectionTitleText {
  font-size: 14px;
  color: #909090;
  letter-spacing: 0.12em;
}

.TaskCreator-TaskDescription-title {
  font-size: 22px;
}

.TaskCreator-TaskDescription-title-text {
  font-weight: bold;
}

.TaskCreator-Content-Address {
  font-size: 18px;
}

.TaskCreator-ButtonServiceType {
  display: inline-block;
  width: 86px;
  text-align: center;
}

.TaskCreator-ButtonServiceTypeIcon {
  width: 75px;
  height: 75px;
}

.TaskCreator-ButtonServiceTypeIcon-selected {
  border-color: #4c71fe;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.TaskCreator-ButtonServiceTypeIcon-inner {
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

.TaskCreator-ButtonServiceTypeIcon-image {
  display: inline-block;
  height: auto !important;
  width: auto !important;
  vertical-align: middle;
}


.TaskCreator-ButtonServiceType-title {
  font-size: 14px;
}


.TaskCreator-ServiceTypeTasksSet {
  padding: 0;
  margin: 0;
}

.TaskCreator-ServiceTypeTask {
  text-align: center;
  border-width: 0;
  border-style: none;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0;
  background-color: white;
  font-size: 16px;
}

.TaskCreator-ServiceTypeTaskSelected {
  padding: 0 20px;
  border-width: 1px;
  border-color: #4c71fe;
  border-style: solid;
  background-color: white;
  margin: 0;
}

.TaskCreator-SectionsDivider {
  border-bottom-color: #f1f1f1;
  border-bottom-style: solid;
  border-bottom-Width: 1px;
}

.TaskCreator-Address-input {
  border-style: none;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 1.5rem;
  margin-top: 3px;
}

.TaskCreator-Address-input:focus{
  outline: none;
}

.MapMarker {
  position: absolute;
  transform: translate(-50%, -100%);
}
